<div class="container-fluid">
  <h2>List of National Parks:</h2> <br>
  <div class="list-group list-group-flush">
    <span class="border border-dark">
      <a routerLink="/kaziranga"
        class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
        <div class="row">
          <div class="col-1">
            <img src="assets/kaziranga.jpg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
          </div>
          <div class="col-11">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> <b> 1. Kaziranga National Park, Assam </b></h5>
              <small></small>
            </div>
            <p class="mb-1">Kaziranga National Park a world heritage site is famous for the Great Indian one horned
              rhinoceros, the landscape of Kaziranga is of sheer forest, tall elephant grass, rugged reeds, marshes &
              shallow pools. It has been declared as National Park in 1974.
              Kaziranga National Park is one of the last areas in eastern India undisturbed by a human presence. It is
              inhabited by the world's largest population of one-horned rhinoceroses, as well as many mammals, including
              tigers, elephants, panthers and bears, and thousands of birds.

              The park is open from November to April. Tourists can take rides on elephants to move around the park or
              cruise in a boat on the Brahmaputra along the park.</p>
            <small></small>
          </div>
        </div>
      </a>
    </span>
    <span class="border border-dark">
      <a routerLink="/corbett"
        class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
        <div class="row">
          <div class="col-1">
            <img src="assets/rbt.jpg" alt="photo" height="300" width="200" class="img-fluid rounded-circle">
          </div>
          <div class="col-11">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> <b> 2. Jim Corbett National Park, Uttarakhand </b></h5>
              <small></small>
            </div>
            <p class="mb-1">Located in the district of Nainital, Corbett National Park is a perfect place for nature
              enthusiasts and wildlife lovers. It is a wonderful place in India considered as a hub of excitement and
              thrill. The whole extent of the park is divided into four different zones called Bijrani, Dhikala, Jhirna
              and Durgadevi zones. Spread over an area of 520 square kilometers, the park is a complete package for
              wildlife buffs. However, tourism is only allowed in the earmarked areas of the Corbett Tiger Reserve in
              order to maximize the chances of viewing its splendid landscape and the diverse wildlife living in the
              park.

              The recent trend of the tourist visit that has been marked by the park authority shows dynamic increase in
              the number of visitors coming every year. More than 70,000 visitors come to the park in peak season from
              the different part of the country and abroad.
              Wildlife enthusiasts and nature lovers prefer this oldest national park over the other popular national
              parks in India such as Ranthambore National Park, Kanha National Park, Kaziranga National Park and many
              others located in the different regions in India. The popularity of Corbett national park is due to the
              presence of the Royal Bengal Tiger in abundance and the captivating landscape for the delight of nature
              lovers.</p>
            <small></small>
          </div>
        </div>
      </a>
    </span>
    <span class="border border-dark">
      <a href="/gir" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
        <div class="row">
          <div class="col-1">
            <img src="assets/gir1.jpeg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
          </div>
          <div class="col-11">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> <b> 3. Gir National Park, Gujarat </b></h5>
              <small></small>
            </div>Besides Africa, Gir National Park in Gujarat is the only place in the world where you can spot lions
            roaming free in the wild. The real discovery channel of India is situated approximately 65 Kms South East of
            Junagarh District. The Government notified the large geographical extent of Sasan Gir as wildlife sanctuary
            on 18th September, 1965 in order to conserve the Asiatic Lion. It covers total area of 1412 square
            kilometers of which 258 Km forms the core area of the National Park. Indiscriminate hunting by the people of
            Junagarh led to their decrease in population drastically, while they were completely wiped out from the
            other parts of Asia. It was the kind effort of Nawabs of Junagarh who protected the queen royalty in his own
            private hunting grounds. Later in due course of time Department of Forest Officials came forward to protect
            the world’s most threatened species. From a population of approximately 20 lions in 1913, they have risen to
            a comfortable 523 according to 2015 census. There are 106 male, 201 female and 213 sub-adult lions in the
            wilderness of these four districts.
            <p class="mb-1"></p>
            <small></small>
          </div>
        </div>
      </a>
    </span>
    <span class="border border-dark">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
        <div class="row">
          <div class="col-1">
            <img src="assets/bandav5.jpg" alt="photo" height="400" width="200" class="img-fluid rounded-circle">
          </div>
          <div class="col-11">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> <b> 4. Bandhavgarh National Park, Madhya Pradesh - The Tiger's Den </b></h5>
              <small></small>
            </div>
            <p class="mb-1">Bandhavgarh National Park is a national park of India, located in the Umaria district of
              Madhya Pradesh. Bandhavgarh, with an area of 105 square kilometres (41 sq mi), was declared a national
              park in 1968 and then became Tiger Reserve in 1993. The current core area is spread over 716 square
              kilometres (276 sq mi).
              This park has a large biodiversity. The park has a large breeding population of leopards, and various
              species of deer. Maharaja Martand Singh of Rewa captured the first white tiger in this region in 1951.
              This white tiger, Mohan, is now stuffed and on display in the palace of the Maharajas of Rewa.
              Historically villagers and their cattle have been at a threat from the tiger. Rising mining activities
              around the park are putting the tigers at risk. The Park derived its name from the most prominent hill of
              the area which is said to have been given by Lord Rama to his brother Laxman to keep a watch on Lanka.</p>
            <small></small>
          </div>
        </div>
      </a>
    </span>
    <span class="border border-dark">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
        <div class="row">
          <div class="col-1">
            <img src="assets/kanha1.jpg" alt="photo" height="10" width="200" class="img-fluid rounded-circle">
          </div>
          <div class="col-11">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> <b> 5. Kanha National Park, Madhya Pradesh - The land of Jungle Book </b></h5>
              <small></small>
            </div>
            <p class="mb-1">Kanha National Park is nestled in the Maikal range of Satpuras in Madhya Pradesh, the heart
              of India that forms the central Indian highlands.The national park is being popularized as the Tiger
              reserve and interestingly is being declared as one of the finest wildlife areas in the world. Spreading
              across two revenue districts the Mandala and the Kalaghat, Kanha National Park was declared a reserve
              forest in 1879 and revalued as a wildlife sanctuary in 1933. Its position was further upgraded to a
              national park in 1955.
              The Kanha National Park is spread across the area of 940 sq km in the Maikal chain of hills. By bringing
              up the buffer and core zone all together, the Kanha Tiger Reserve has the total area of 1945 sq km.</p>
            <small></small>
          </div>
        </div>
      </a>
    </span>
    <span class="border border-dark">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
        <div class="row">
          <div class="col-1">
            <img src="assets/tig.jpg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
          </div>
          <div class="col-11">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> <b> 6. Ranthambore Tiger Reserve, Rajasthan </b></h5>
              <small></small>
            </div>
            <p class="mb-1">Ranthambore Tiger Reserve, before a significant game conserve is the scene where the
              celebrated Indian Royal Bengal Tiger is finest seen. Ranthambore Tiger Reserve lies on the junction of
              Aravali valley and Vindhyas just 14 Kilometer from Sawai Madhopur district in Eastern Rajasthan. It
              sprawls over a varying and undulating landscape. The scenery changes significantly from gentle and steep
              slopes of the Vindhyas and sharp and conical hills of the Aravali valley. A tenth century fort also blends
              amicably with the background. Pure sands of Dhok tree (Anogeissus pendula) interspersed with grasslands at
              the plateaus; meadow in valleys and luxuriant foliage around the canals makes the jungle. Three big lakes
              – Malik Talab, Raj Bagh and Padam Talab – are similar turquoises studded in the vast jungle that abounds
              with water vegetation including duckweeds, lilies and lotus.</p>
            <small></small>
          </div>
        </div>
      </a>
    </span>
    <span class="border border-dark">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
        <div class="row">
          <div class="col-1">
            <img src="assets/nagar1.jpg" alt="photo" height="400" width="200" class="img-fluid rounded-circle">
          </div>
          <div class="col-11">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> <b> 7. Nagarhole National Park, Karnataka </b></h5>
              <small></small>
            </div>
            <p class="mb-1">Nagarhole National Park is a national park located in Kodagu district and Mysore district in
              Karnataka, India.
              This park was declared the 37th Tiger Reserves of India in 1999. It is part of the Nilgiri Biosphere
              Reserve. The Western Ghats Nilgiri Sub-Cluster of 6,000 km2 (2,300 sq mi), including all of Nagarhole
              National Park, is under consideration by the UNESCO World Heritage Committee for selection as a World
              Heritage Site.
              The park has rich forest cover, small streams, hills, valleys and waterfalls, and populations of Bengal
              tiger, gaur, Indian elephant, Indian leopard, chital and Sambar deer.</p>
            <small></small>
          </div>
        </div>
      </a>
    </span>
    <span class="border border-dark">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
        <div class="row">
          <div class="col-1">
            <img src="assets/bandi1.jpg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
          </div>
          <div class="col-11">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> <b> 8. Bandipur National Park, Karnataka - Tiger reserves in the Nilgiris</b></h5>
              <small></small>
            </div>
            <p class="mb-1">Bandipur National Park second highest Tiger population in India. Bandipur National Park is
              located in Gundulpet taluk, Chamarajanagar district. Park is the part of Nilgiri Biosphere Reserve making
              it largest protected area in Southern India and largest habitant of Wild Elephants in South Asia.

              Bandipur National Park shares its boundary with 3 other National park namely Nagarahole National Park,
              Wayanad National Park and Mudumalai National park. There is ban of traffic from 9 PM to 6 AM of dusk to
              dawn to help to drawn down the death rate of wildlife.

              Tigers, Indian Elephants, Leopard, Dhole, Sambar, Sloth bear, Chital many more animals and Birds can be
              spotted in the Bandipur National park.</p>
            <small></small>
          </div>
        </div>
      </a>
    </span>
  </div>
  <div class="row"> <br> </div>
</div>