<div class="container-fluid">
<h2>List of National Parks:</h2> <br>
<div class="list-group list-group-flush">
  <span class="border border-dark">
       <a routerLink="/kaziranga" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
        <div class="row">
          <div class="col-1">
            <img src="assets/kaziranga.jpg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
          </div>
          <div class="col-11">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 1. Kaziranga National Park, Assam </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Kaziranga National Park a world heritage site is famous for the Great Indian one horned rhinoceros, the landscape of Kaziranga is of sheer forest, tall elephant grass, rugged reeds, marshes & shallow pools. It has been declared as National Park in 1974.
        Kaziranga National Park is one of the last areas in eastern India undisturbed by a human presence. It is inhabited by the world's largest population of one-horned rhinoceroses, as well as many mammals, including tigers, elephants, panthers and bears, and thousands of birds.
        
        The park is open from November to April. Tourists can take rides on elephants to move around the park or cruise in a boat on the Brahmaputra along the park.</p>
      <small></small>
    </div>
      </div>
    </a>
  </span>
  <span class="border border-dark">
    <a routerLink="/corbett" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
     <div class="row">
       <div class="col-1">
          <img src="assets/corbet9.jpg" alt="photo" height="300" width="200" class="img-fluid rounded-circle">
       </div>
       <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 2. Jim Corbett National Park, Uttarakhand </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Located in the district of Nainital, Corbett National Park is a perfect place for nature enthusiasts and wildlife lovers. It is a wonderful place in India considered as a hub of excitement and thrill. The whole extent of the park is divided into four different zones called Bijrani, Dhikala, Jhirna and Durgadevi zones. Spread over an area of 520 square kilometers, the park is a complete package for wildlife buffs. However, tourism is only allowed in the earmarked areas of the Corbett Tiger Reserve in order to maximize the chances of viewing its splendid landscape and the diverse wildlife living in the park.

        The recent trend of the tourist visit that has been marked by the park authority shows dynamic increase in the number of visitors coming every year. More than 70,000 visitors come to the park in peak season from the different part of the country and abroad.
        Wildlife enthusiasts and nature lovers prefer this oldest national park over the other popular national parks in India such as Ranthambore National Park, Kanha National Park, Kaziranga National Park and many others located in the different regions in India. The popularity of Corbett national park is due to the presence of the Royal Bengal Tiger in abundance and the captivating landscape for the delight of nature lovers.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="/gir" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
      <div class="row">
        <div class="col-1">
            <img src="assets/gir1.jpeg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
        </div>
        <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 3. Gir National Park, Gujarat </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
      <div class="row">
        <div class="col-1">
            <img src="assets/bandav5.jpg" alt="photo" height="400" width="200" class="img-fluid rounded-circle">
        </div>
        <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 4. Bandhavgarh National Park, Madhya Pradesh - The Tiger's Den </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
      <div class="row">
        <div class="col-1">
            <img src="assets/kanha1.jpg" alt="photo" height="10" width="200" class="img-fluid rounded-circle">
        </div>
        <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 5. Kanha National Park, Madhya Pradesh - The land of Jungle Book </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
      <div class="row">
        <div class="col-1">
            <img src="assets/rantham4.jpg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
        </div>
        <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 6. Ranthambore Tiger Reserve, Rajasthan </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
      <div class="row">
      <div class="col-1">
          <img src="assets/nagar1.jpg" alt="photo" height="400" width="200" class="img-fluid rounded-circle">
      </div>
      <div class="col-11">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 7. Nagarhole National Park, Karnataka </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
      <div class="row">
        <div class="col-1">
            <img src="assets/bandi1.jpg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
        </div>  
        <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> <b> 8. Bandipur National Park, Karnataka - Tiger reserves in the Nilgiris</b></h5>
          <small></small>
        </div>
        <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
        <small></small>
      </div>
      </div>
      </a>
    </span>
</div>
<div class="row"> <br> </div>
</div>